* { 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.firstContent {
    height: 820.8px;
    background-image: url(../img/moon-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    background-color: rgba(47, 47, 48, 0.8);
    height: 95px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 3px;
    min-width: 775px;
    max-height: 580px;
}

.logoMenu {
    height: 100%;
    display: flex;
    align-items: center;
    color: #ECEEFF;
    font-size: 50px;
    user-select: none;
}

a, button, p {
    all: unset;
}

.buttonsMenu, .buttonLogin {
    display: flex;
    height: 100%;
}

button {
    height: 100%;
    color: #ECEEFF;
    font-size: 25px;
    user-select: none;
    width: 120px;
    text-align: center;
}

:where(button, a):hover {
    color: #718AF4;
    transition: 0.3s;
    cursor: pointer;
}

@media (max-width: 775px) {
    .menu {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: fit-content;
    }

    .firstContent {
        width: 100vh;
    }
}

@media (max-width: 900px) {
    
    .firstContent {
        width: 100vh;
    }

    .homeImage {
        align-content: flex-start;
        flex-wrap: wrap;
    }

    .secondContent {
        width: 100vh;
    }

    .thirdContent {
        width: 100vh;
    }
}

.homeContent {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    user-select: none;
    flex-wrap: wrap;
}

.aboutBSCallister {
    background-color: rgba(47, 47, 48, 0.8);
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 450px;
    align-items: center;
    text-align: center;
    padding: 15px;
    justify-content: space-between;
    color: #ECEEFF;
    font-size: 20px;
    user-select: none;
    border-radius: 10px;
}

p:first-child {
    font-size: 40px;
}

.homeImage {
    display: flex;
    align-items: center;
}

.homeImage img {
    width: 450px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.secondContent {
    height: 820.8px;
    background-color: #2F2F30;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.secondContent button {
    font-size: 100px;
    height: fit-content;
}

.cardSlider {
    width: 500px;
    height: 650px;
    background-color: rgba(236, 238, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
    user-select: none;
}

.cardSlider img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.cardSlider button {
    height: 50px;
    background-color: #2F2F30;
    color: #ECEEFF;
    border-radius: 10px;
    padding: 5px;
    font-size: 25px;
}

.cardSlider button:hover {
    color: #718AF4;
}

.cardSlider div {
    text-align: center;
    color: #ECEEFF;
    font-size: 25px;
}

.carouselRoom {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titleForRoomSection {
    font-size: 50px;
    color: #ECEEFF;
    user-select: none;
}

.thirdContent {
    height: 820.8px;
    background-image: url(../img/moon-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 10px;
    user-select: none;
}

.thirdContentTitle {
    font-size: 80px;
    color: #ECEEFF;
}

.aboutArea {
    width: 700px;
    height: 550px;
    background-color: rgba(47, 47, 48, 0.8);
    border-radius: 20px;
    color: #ECEEFF;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.aboutArea img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: #718AF4 solid 3px;
}

.imageChange {
    display: flex;
    align-items: center;
}

.imageChange Button {
    height: fit-content;
    font-size: 100px;
}

.aboutArea p:first-child {
    font-size: 40px;
}

.aboutArea p {
    font-size: 25px;
    text-align: justify;
    text-indent: 20px;
}